.ex1{
  background-color: #f1f1f1;
    header {
        display: flex;
        height: 90px;
        background-color: #6278F7;
        justify-content: space-between;
        padding: 0px 60px 40px 60px;
        padding-top: 20px; 
        .imagek{
          display: flex;
          flex-direction: row; 
          align-items: center;
          padding-top: 20px;
          gap: 30px;
    
          h2{
            color: white;
            font-family: arial;
          }
          
    
          img{
            width: 51.52px;
            height: 60px;
            top: 15px;
            left: 80px;
            gap: 0px;
            opacity: 0px;
    
          }
        }

        .lincados{
            padding-top: 10px;
            nav{
              display: flex;
              gap: 20px;
              font-family: Arial, Helvetica, sans-serif;
        
        
              .brabo{
                color: white;
                text-decoration: none;
                font-size: 20px;
                font: 100;
              }
            }
        
          }
}
  .cabeca1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    margin-bottom: 5%;
    .cabeca{
      display: flex;
      flex-direction: row;
      padding: 5% 0px 0px 5%;
      gap: 15px;
      align-items: center;
      h1{
        font-family: arial;
      }

  }
  .linha{
      background-color:#FFCE37;
      padding: 1px;
      width: 130vh;
      margin-left: 5vh ;
    }
    .emci{
      width: 95%;
      padding: 10%;
      margin-left: 2.5%;
      text-align: center;
      background-color: white;
      
    }
  }
   .textoex{
    width: 60%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    
   }
}