.ex10{
    .toma10{
        .textoex10{
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: center;
            .exercicio10{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
                background-color: white;
                border-radius: 10px;
                gap: 10px;
                margin-bottom: 50px;
                button{
                    border: 0px;
                    border-radius: 5px;
                    color: white;
                    background-color:#6278F7 ;
                    padding: 10px 25px;
                    align-self: flex-end;
                }
                .brabudos{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    .inputss1{
                        display: flex;
                        flex-direction: column;
                        input{
                            border: 1px solid gray;
                            border-radius: 5px;
                            padding: 5px;
                        }

                    }
                    .inputss2{
                        display: flex;
                        flex-direction: column;
                        input{
                            border: 1px solid gray;
                            border-radius: 5px;
                            padding: 5px;
                        }
                    }
    
                }
                

            }
            .list{
                display: flex;
                flex-direction: column;

                .lista{
                    display: flex;
                    flex-direction: row;
                    align-items:center ;
              
                    .listaa{
                        background-color: white;
                        padding: 10px 30px;
                        border-radius: 10px;
                        margin: 5px 10px;
                    }
                    .icone{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 18px;
                        background-color: #6278F7;
                        border-radius: 10px;
                        width: 30px;
                        height: 30px;
                    }
                }
                
            }
        }
    }

}