
.ex2{
    .textoex{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: arial;
        
        li{
            margin-top: 10px;
            margin-left: 200px ;
            list-style-type: none;
            font: bold;
          }
    .exercicio{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width:35% ;
        padding: 40px;
        border-radius: 12px;
        background-color: #ffffff;
        box-shadow: -1px 0px 15px 1px #b9b7b7;
        h2{
          font-family: arial;
          font-size: 20px;
        }
        input{
          border-style: none;
          border: 2px solid;
          border-radius: 5px;
          padding: 5px 5px;
          
        }
          button{
            align-self: end;
            border-style: none;
            border-radius: 10px;
            background-color: #6278F7;
            padding: 13px 40px ;
            color: #ffffff;
            
          }
      }
    }
}
