.pagina-inicial{
    
    .titulo{
        margin: 50px;

    }
    .texto{
        display: flex;
        flex-direction: column;
        margin: 0px 170px;
        align-items: center;
        text-align: center;
        font-size: 30px;
        img{
            padding: 30px;
        }
    }


}