

  .conteudo{
    display: flex;
    flex-direction: column;
    padding: 60px;
    font-family: arial;
      h1{
        padding-bottom: 50px;
      }
      .lage{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
      }

      }

      
    
   
  
  